.tables-box {
    margin-top: 5rem;
    padding : 0;
    box-sizing : border-box;
    font-family: sans-serif;
    /* background-image: url(../images/backgroun3.jpg); */
    background-repeat: no-repeat;
  background-size: cover;
}

.tables-container {
    padding: 0 10%;
    /* margin-left: 20%; */
    /* margin-right: 50%; */
    /* margin: 40px auto 0; */
}


.headings {
    font-size: 40px;
    text-align: center;
    color: #000000;
    margin-bottom: 40px;
}
.tables {
    width: 100%;
    border-collapse: collapse;
}
.tables thead {
    background-color: #146C94;
}
.tables thead tr th{
    font-size: 14px;
    font-weight: medium;
    letter-spacing: 0.35px;
    color: #FFFFFF;
    opacity: 1;
    padding: 12px;
    vertical-align: top;
    border: 1px solid #dee2e685;
}

.tables tbody tr td{
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.35px;
    color: #000000;
    background-color: #FFFFFF;
    padding: 8px;
    text-align: center;
    border: 1px solid #dee2e685;
}

.tables .text_open {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.35px;
    color: #146C94;
}

.tables .tbody tr td .btn {
    width: 130px;
    text-decoration: none;
    line-height: 35px;
    display: block;
    background-color: #146C94;
    font-weight: medium;
    color: #FFFFFF;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    border: 10px solid transparent;
    font-size: 14px;
    opacity: 1;
}

@media(max-width : 768px) {
    .tables-box {
    }
    .tables thead {
        display: none;
    }
    
.tables-container {
    padding: 0 10%;
    margin-left: 0%;
    /* margin-right: 12%; */
    /* margin-right: 50%; */
    /* margin: 40px auto 0; */
}

    .tables, .tables tbody, .tables td {
        display: block;
        width: 150%;
        /* margin-left: 5%; */
    }
    .tables tr {
        margin-bottom: 15px;
    }
    .tables tbody tr td {
        text-align: alright;
        /* padding-left: 100%; */
        position: relative;
    }
    .tables td:before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        font-weight: 600;
        font-size: 14px;
        text-align: left;
    }
}




.button5{
    display:inline-block;
    padding: 1rem;
    border:0.1em solid #000000;
    margin:0 0.2em 0.2em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#000000;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    background-color:#FFFFFF;
    text-align:center;
    transition: all 0.15s;
    }
    .button5:hover{
    text-shadow: 0 0 2em rgba(255,255,255,1);
    color:#000000;
    border-color:#FFFFFF;
    }
    @media all and (max-width:30em){
    .button5{
    display:block;
    margin:0.4em auto;
    }
    }